/* This is a CSS comment.*/

* {
   outline: 1px solid blue !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.description {
    color:black;
    max-width: 705px;

}

.image {
    max-width: 460px;
}

.app {
    display: flex;
}

.app {
    display: -webkit-flex;
    display: flex;
}

.myapp {
    background-color: #33BEBE;
}
